# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor folders
.idea/
.vscode/
*.swp
*.swo

# Evolis specific
rencana.md
data/saves/*
!data/saves/.gitkeep
